<!DOCTYPE html>
<html>
<head>
	<title>Sign up</title>
</head>
<body>
	<form action=''.method='POST'>
		<!-- Name:<input type="text" name="name"><br/><br/>
		Employee Id:<input type="text" name="empid"><br/><br/>
		Mail id:<input type="text" name="maidid"> -->
		<div class="container">
			<h1>Sign Up</h1>

			<label for='name'><b>Name</b></label>
			<input type='text' placeholder='Enter Password' name='name' required><br/>

			<label for='mail'><b>Mail Id</b></label>
			<input type="text" placeholder='Enter mailid' name="mail" required><br/>

			<label for='pwd'><b>Password</b></label>
			<input type="text" placeholder='Enter password' name="pwd" required><br/>

			<label for='pwd-reset'><b>Reset password</b></label>
			<input type="text" placeholder='Enter password' name="pwd-reset" required><br/>

			<div><br/>
				<button type='button' class='cancelbtn'>Cancel</button>
				<button type='button' class='signupbtn'>Sign Up</button>
			</div>
		</div>

	</form>
</body>
</html>